<div class="container">
  <form #mainForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        id="name"
        name="name"
        required
        #nameModel="ngModel"
        [(ngModel)]="ad.title"
      />
      <span
        *ngIf="nameModel.touched && nameModel.invalid"
        class="help-block text-danger"
        >Please enter a name</span
      >
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select
        class="form-control"
        name="category"
        id="category"
        [(ngModel)]="ad.categoryId"
        required
        (change)="onCatagoryChange()"
        #categoryModel="ngModel"
      >
        <option *ngFor="let category of categories" [value]="category.id">{{
          category.name
        }}</option>
      </select>
      <span
        *ngIf="categoryModel.touched && categoryModel.invalid"
        class="help-block text-danger"
        >Please select a category</span
      >
    </div>
    <div>
      <app-product-property-value
        [productPropertyValues]="productPropertyValues"
      ></app-product-property-value>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        name="description"
        rows="5"
        required
      ></textarea>
    </div>

    <div class="row">
      <button class="btn btn-success" [disabled]="mainForm.invalid">
        Save
      </button>
    </div>
  </form>

  <p>
    {{ mainForm.valid }}
  </p>
</div>
