<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="../../../assets/book.jpg"
          alt="{{ book.name }}"
        />
        <div class="card-body">
          <div>
            <strong>Book Name:</strong>
            <p>{{ book.name }}</p>
          </div>
          <div>
            <strong>Date: </strong>
            <p>21.10.1907</p>
          </div>
          <div>
            <strong>Author: </strong>
            <p>Ahmet Ünge</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-warning w-100">Message</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="tab-panel h-100">
        <tabset class="book-tabset">
          <tab heading="Propertis">
            <h4>Page Count</h4>
            <p>250</p>
            <h4>Language</h4>
            <p>Turkish</p>
          </tab>
          <tab heading="Description">
            <p>{{ book.summary }}</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
