<div class="container">
  <div class="row mt-3">
    <div class="col-sm-4">
      <div class="card">
        <img
          src="../../../assets/book.jpg"
          alt="book"
          class="card-img-top img-thumbnail"
        />

        <div class="card-body">
          <div>
            <h5>{{ ad.title }}</h5>
          </div>
          <div>
            <strong>Location : </strong>
            <p>Location will come here</p>
          </div>
          <div>
            <strong>Category : </strong>
            <p>{{ ad.categoryName }}</p>
          </div>
          <div>
            <strong>Added Date : </strong>
            <p>20.10.1992</p>
          </div>
          <div>
            <strong>Status : </strong>
            <p>{{ ad.status | adStatus }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="ad-tabset">
          <tab heading="Description">
            <h4>Description</h4>
            <p>{{ ad.description }}</p>
          </tab>
          <tab heading="Properties">
            <h4>Properties</h4>
            <p *ngFor="let property of ad.productPropertyValues">
              {{ property.name }} : {{ property.value }}
            </p>
          </tab>
          <tab heading="Photos">
            <h4>Photos</h4>
            <p>Photos</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
