<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Papyrus</a>

    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/books']">Books</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/ads']">Ad List</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a
          class="nav-link"
          [routerLink]="['/books/new']"
          class="btn btn-success"
          >Add Book</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Messages</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown">
      <a class="dropdown-toggle text-light" aria-expanded="false">
        {{ authService.decodedToken?.email | titlecase }}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"
          ><i class="fa fa-user"></i>Edit Profile</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"
          ><i class="fa fa-signout"></i> Something else here</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
        required
        name="email"
        [(ngModel)]="model.email"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
        required
        name="password"
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
