<!-- <p>{{ property.name }} | {{ property.propertyType.name }}</p> -->

<div class="form-group">
  <label>{{ property.name }} | {{ property.propertyType }}</label>
  <div [ngSwitch]="property.propertyType">
    <div *ngSwitchCase="propertyType.String">
      <input class="form-control" type="text" />
    </div>
    <div *ngSwitchCase="propertyType.Numeric">
      <input class="form-control" type="number" />
    </div>
    <div *ngSwitchCase="propertyType.DateTime">
      <input class="form-control" type="date" />
    </div>
    <div *ngSwitchDefault>output2</div>
  </div>
</div>

<button>Send Property Values</button>
