<div class="container mt-5">
  <form #bookForm="ngForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="book.name"
        required
        #name="ngModel"
      />
      <span class="help-block text-danger" *ngIf="name.invalid && name.touched"
        >Please enter a name</span
      >
    </div>
    <app-catalog-genre-list
      (getGenreSelect)="selectGenre($event)"
      [selectedGenreId]="book.genreId"
      [selectedCatalogId]="book.catalogId"
    ></app-catalog-genre-list>

    <div class="form-group">
      <label for="summary">Summary</label>
      <textarea
        class="form-control"
        name="summary"
        [(ngModel)]="book.summary"
        rows="5"
        required
      ></textarea>
    </div>
    <div class="row">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!isFormValid()"
      >
        Save
      </button>
    </div>
  </form>
</div>

<hr />
<p>Book valid {{ bookForm.valid }}</p>
<p>GenreValid valid {{ isGenreValid }}</p>
