<div class="container mt-5">
  <form #bookForm="ngForm" (ngSubmit)="editBook()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="book.name"
        required
      />
    </div>
    <app-catalog-genre-list
      (getGenreSelect)="selectGenre($event)"
    ></app-catalog-genre-list>

    <div class="form-group">
      <label for="summary">Summary</label>
      <textarea
        class="form-control"
        name="summary"
        [(ngModel)]="book.summary"
        rows="5"
        required
      ></textarea>
    </div>
    <div class="row">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="bookForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>

<hr />
<p>{{ bookForm.invalid }}</p>
