<div class="container mt-5">
  <form #bookForm="ngForm" (ngSubmit)="editBook()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="book.name"
        required
      />
    </div>
    <div class="form-group">
      <label for="catalogs">Catalog</label>
      <select
        class="form-control"
        id="catalogs"
        (change)="onCatalogChange()"
        name="catalog"
        [(ngModel)]="selectedCatalog"
      >
        <option *ngFor="let catalog of catalogs" [value]="catalog.id">{{
          catalog.name
        }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="genres">Genres</label>
      <select class="form-control" id="genres">
        <option *ngFor="let genre of genres">{{ genre.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="summary">Summary</label>
      <textarea
        class="form-control"
        name="summary"
        [(ngModel)]="book.summary"
        rows="5"
        required
      ></textarea>
    </div>
    <div class="row">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="bookForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>

<hr />
<p>{{ bookForm.invalid }}</p>
