<div class="form-group">
  <label for="catalogs">Catalog</label>
  <select
    class="form-control"
    id="catalogs"
    (change)="onCatalogChange()"
    name="catalog"
    [(ngModel)]="selectedCatalogId"
  >
    <option *ngFor="let catalog of catalogs" [value]="catalog.id">{{
      catalog.name
    }}</option>
  </select>
</div>

<div class="form-group">
  <label for="genres">Genres</label>
  <select
    class="form-control"
    id="genres"
    (change)="onGenreSelect()"
    [(ngModel)]="selectedGenreId"
    name="genre"
    #genre="ngModel"
    required
  >
    <option *ngFor="let genre of genres" [value]="genre.id">{{
      genre.name
    }}</option>
  </select>
   <span class="help-block text-danger" *ngIf="genre.invalid && genre.touched"
        >Please select genre</span>
</div>
